In [1]:
#01 Try to extract data from index 1 to index 300 with a jump of 3

In [2]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [3]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [4]:
# 02 Try to reverse a string without using reverse function

In [5]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [6]:
# 03 Try to split a string after conversion of entire string in uppercase

In [7]:
s1 = s.upper()
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [8]:
#04 Try to convert the whole string into lower case

In [9]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [10]:
# 05 the Try to capitalize the whole string

In [11]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [12]:
# 06 Write the difference between isalnum() and isalpha()

In [13]:
#isalnum() - This function checks that if all the charecters in the string are alphanumeric if yes it prints True else it prints False.
# Note - Spaces in between alphanumeric charecters cause the output of the code to be False.

# isalpha() - This function cheks that if all the charecters in the string are alphabets if yes it prints True else it prints False.
# Note - Spaces in between alphabet charecters cause the output of the code to be False.

In [14]:
# 07 Try to give an example of expand tab

In [16]:
#Example of expand tab function

s2 = "Hii\tthere\tmy\tname\tis\thighsamm,\tnice\tto\tmeet\tyou\tsamartha!!"

s2.expandtabs()  # By default it is 8 spaces per tab.

'Hii     there   my      name    is      highsamm,       nice    to      meet    you     samartha!!'

In [17]:
# But we can change it to our preference, for example -

s2.expandtabs(20)

'Hii                 there               my                  name                is                  highsamm,           nice                to                  meet                you                 samartha!!'

In [18]:
#08 Give an example of strip, lstrip and rstrip.

In [19]:
# 1 - Example of strip:

a = "@@@2@Heyy!! Samartha@2@@@"

a.strip("@2")  # Removes all @2 from both the sides

'Heyy!! Samartha'

In [21]:
#2 - Example of lstrip:

a1 = "@@@22@Heyy!! Samartha@2@@@"

a1.lstrip("@2")  # Removes all @2 only from the left side

'Heyy!! Samartha@2@@@'

In [22]:
# 3 - Example of rstrip

a2 = "@@@2@Heyy!! Samartha@222@@@"

a2.rstrip("@2")  # Removes all @2 only from the right side

'@@@2@Heyy!! Samartha'

In [23]:
# 09 Replace a string charecter by another charecter by taking your own example "your name"

In [24]:
name = "highsamm"

name.replace("highsamm", "Samartha")

'Samartha'

In [25]:
name.replace("hig","Sam")

'Samhsamm'

In [28]:
# 10 Try to give a definition of string center function with an example.

In [29]:
# Definition:

# center() function is used to align the string in to the centre by adding Specified characters in both the sides of the string or with space by default,
# then the string will have specified width  and if the total width is greater than the length of the string, the extra characters will be added equally 
# to both sides (or with one extra on either sides if the width is an odd number or string has odd number of charecters).

In [30]:
# Example:

b = "highsamm"

b.center(130,"*")

'*************************************************************highsamm*************************************************************'

In [31]:
b.center(120,"*")

'********************************************************highsamm********************************************************'

In [32]:
# 11 Write the definiton of compiler and interpretor in your own words.

In [33]:
# Compiler - The code which we have written in the program gets converted into binary code(01) by the compiler because the computer knows only binary 
           # language. So basicaly compiler converts our code into binary code so that the code gets exicuted by the computer.

In [34]:
# Interpretor - It reads our code line by line and executs it immediately in a sequence manner and interpriting the code at the run time.

In [35]:
# 12 Python is an interpreted of compiled language give clear ans.

In [36]:
#  Python code is executed by an interpreter like CPython which reads and executes the code line by line at runtime. This is why Python 
#  is considered an interpreted language.

In [37]:
#13 Try to write a usecase of python with your understanding.

In [ ]:
# There are many usecases of python such as:

# 1. Pyhton is used in Cybersecurity.   
# 2. Python is used in Web development.   ( Django, Flask for building websites.)
# 3. Python is used in Data analysis and mashin learning.   (Pandas, TensorFlow for data analysis and AI.)
# 4. Python is used in Artifitial intelligence (Generative AI).
# 5. Python is used in Internet Of Things (IOT).
# 6. Python is used in Cloud computing.   ( Automating cloud services)
# 7. Python is used in Game development.   (Pygame for game prototyping.)
# 8. Python is used in Blockchain development.